<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- H2 DataSource Bean -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:~/masterleague;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!-- Hibernate SessionFactory Bean -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.model"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>


    <!-- Repository Beans -->
    <bean id="playerRepository" class="com.repository.impl.PlayerRepositoryImpl">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="gameRepository" class="com.repository.impl.GameRepositoryImpl">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="teamRepository" class="com.repository.impl.TeamRepositoryImpl">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="tournamentRepository" class="com.repository.impl.TournamentRepositoryImpl">
        <constructor-arg ref="sessionFactory"/>
    </bean>



    <!-- Repository Beans -->

    
    
    <!-- Service Beans -->
    <bean id="playerService" class="com.service.impl.PlayerServiceImpl">
        <constructor-arg ref="playerRepository"/>
    </bean>

    <bean id="gameService" class="com.service.impl.GameServiceImpl">
        <constructor-arg ref="gameRepository"/>
    </bean>

    <bean id="teamService" class="com.service.impl.TeamServiceImpl">
        <constructor-arg ref="teamRepository"/>
    </bean>

    <bean id="teamService" class="com.service.impl.TournamentService">
        <constructor-arg ref="tournamentRepository"/>
    </bean>

</beans>
